{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-MI.html' %}
<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="#1">Today</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="weekly-summary">Weekly summary</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="search-data">Search all data</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Summary of daily counts</h1>
        
        <p><a href="search-day" class="govuk-link">Choose a different day</a></p>

        <h2 class="govuk-heading-l">
          Thursday 18th April
          <span class="govuk-caption-l">Updated 4.34am </span>
        </h2>

        <h3 class="govuk-heading-l">Claims</h3></div>
<div class="govuk-grid-column-one-half">
  <div class="govuk-summary-card govuk-!-width-full">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        UK new claims
      </h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
            Post
          </dt>
          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
            0
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
            Phone
          </dt>
          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
            0
          </dd>
         </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
            Total
          </dt>
          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
            0
          </dd>
         </div>
      </dl>
    </div>
  </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-summary-card govuk-!-width-full">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          International new claims
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
              Total
            </dt>
            <dd class="govuk-table__cell--numeric govuk-!-margin-1">
              7
            </dd>
           </div>

        </dl>
      </div></div></div>

      <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-l">Tasks</h3></div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-summary-card govuk-!-width-full">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Review manual payment requests
              </h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                    Intake
                  </dt>
                  <dd class="govuk-table__cell--numeric govuk-!-margin-1" >
                    0
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                    Outstanding
                  </dt>
                  <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                    0
                  </dd>
                 </div>
              </dl>
            </div>
          </div>
          </div>
          

          <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card govuk-!-width-full">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  Review 13 week care homes cases
                </h2>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                      Intake
                    </dt>
                    <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                      12
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                      Outstanding
                    </dt>
                    <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                      4
                    </dd>
                   </div>
                </dl>
              </div>
            </div>
            </div>
    
            <div class="govuk-grid-column-one-third">
              <div class="govuk-summary-card govuk-!-width-full">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Approve commercial addresses
                  </h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                        Intake
                      </dt>
                      <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                        0
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                        Outstanding
                      </dt>
                      <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                        0
                      </dd>
                     </div>
                  </dl>
                </div>
              </div>
              </div>

   
      
                <div class="govuk-grid-column-one-third">
                  <div class="govuk-summary-card govuk-!-width-full">
                    <div class="govuk-summary-card__title-wrapper">
                      <h2 class="govuk-summary-card__title">
                       Pay death arrears
                      </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                      <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                            Intake
                          </dt>
                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                            12
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                            Outstanding
                          </dt>
                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                            4
                          </dd>
                         </div>
                      </dl>
                    </div>
                  </div>
                  </div>

                          <div class="govuk-grid-column-one-third">
                                  <div class="govuk-summary-card govuk-!-width-full">
                                    <div class="govuk-summary-card__title-wrapper">
                                      <h2 class="govuk-summary-card__title">
                                        Review GSL/WA
                                      </h2>
                                    </div>
                                    <div class="govuk-summary-card__content">
                                      <dl class="govuk-summary-list">
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                            Intake
                                          </dt>
                                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                            0
                                          </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                            Outstanding
                                          </dt>
                                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                            0
                                          </dd>
                                         </div>
                                      </dl>
                                    </div>
                                  </div>
                                  </div>
                        
                            
                                    <div class="govuk-grid-column-one-third">
                                      <div class="govuk-summary-card govuk-!-width-full">
                                        <div class="govuk-summary-card__title-wrapper">
                                          <h2 class="govuk-summary-card__title">
                                            Review overpayments
                                          </h2>
                                        </div>
                                        <div class="govuk-summary-card__content">
                                          <dl class="govuk-summary-list">
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                Intake
                                              </dt>
                                              <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                0
                                              </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                Outstanding
                                              </dt>
                                              <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                0
                                              </dd>
                                             </div>
                                          </dl>
                                        </div>
                                      </div>
                                      </div>
          
                                            <div class="govuk-grid-column-one-third">
                                              <div class="govuk-summary-card govuk-!-width-full">
                                                <div class="govuk-summary-card__title-wrapper">
                                                  <h2 class="govuk-summary-card__title">
                                                    Verify addresses
                                                  </h2>
                                                </div>
                                                <div class="govuk-summary-card__content">
                                                  <dl class="govuk-summary-list">
                                                    <div class="govuk-summary-list__row">
                                                      <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                        Intake
                                                      </dt>
                                                      <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                        0
                                                      </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                      <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                        Outstanding
                                                      </dt>
                                                      <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                        0
                                                      </dd>
                                                     </div>
                                                  </dl>
                                                </div>
                                              </div>
                                              </div>
                                    
                                              <div class="govuk-grid-column-one-third">
                                                <div class="govuk-summary-card govuk-!-width-full">
                                                  <div class="govuk-summary-card__title-wrapper">
                                                    <h2 class="govuk-summary-card__title">
                                                      Fix account details
                                                    </h2>
                                                  </div>
                                                  <div class="govuk-summary-card__content">
                                                    <dl class="govuk-summary-list">
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                          Intake
                                                        </dt>
                                                        <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                          12
                                                        </dd>
                                                      </div>
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                          Outstanding
                                                        </dt>
                                                        <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                          4
                                                        </dd>
                                                       </div>
                                                    </dl>
                                                  </div>
                                                </div>
                                                </div>
                                        
                                                <div class="govuk-grid-column-one-third">
                                                  <div class="govuk-summary-card govuk-!-width-full">
                                                    <div class="govuk-summary-card__title-wrapper">
                                                      <h2 class="govuk-summary-card__title">
                                                        Check submitted addresses
                                                      </h2>
                                                    </div>
                                                    <div class="govuk-summary-card__content">
                                                      <dl class="govuk-summary-list">
                                                        <div class="govuk-summary-list__row">
                                                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                            Intake
                                                          </dt>
                                                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                            0
                                                          </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                            Outstanding
                                                          </dt>
                                                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                            3
                                                          </dd>
                                                        </div>
                                                      </dl>
                                                    </div>
                                                  </div>
                                                  </div>
                                  
                                                    <div class="govuk-grid-column-one-third">
                                                      <div class="govuk-summary-card govuk-!-width-full">
                                                        <div class="govuk-summary-card__title-wrapper">
                                                          <h2 class="govuk-summary-card__title">
                                                            Contact citizens
                                                          </h2>
                                                        </div>
                                                        <div class="govuk-summary-card__content">
                                                          <dl class="govuk-summary-list">
                                                            <div class="govuk-summary-list__row">
                                                              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                                Intake
                                                              </dt>
                                                              <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                                0
                                                              </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                                Outstanding
                                                              </dt>
                                                              <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                                0
                                                              </dd>
                                                             </div>
                                                          </dl>
                                                        </div>
                                                      </div>
                                                      </div>




                                          
                                                                       

       

    </div>
    </main>
    </div>

    {% endblock %}
