{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% include 'current/includes/_bar.html' %}

          <h1 class="govuk-heading-l">Review returned payment</h1>
          <table class="govuk-table">
            <h2 class="govuk-heading-m">Payment details</h2>
            <tbody class="govuk-table__body">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Payment date</th>
                  <td class="govuk-table__cell">
                    Friday 15 November 2024</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Amount</th>
                  <td class="govuk-table__cell">
                    £300</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Reason for return</th>
                  <td class="govuk-table__cell">
                    Invalid details</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Reason for hand off</th>
                  <td class="govuk-table__cell">
                    No response to DP Gen form</td>
                </tr>

              </tbody>
            </tbody>
          </table>
          <table class="govuk-table">
            <h2 class="govuk-heading-m">Contact details</h2>
            <tbody class="govuk-table__body">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Home phone</th>
                  <td class="govuk-table__cell">
                    0141 237 678</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile phone</th>
                  <td class="govuk-table__cell">
                    07024014823</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Work phone</th>
                  <td class="govuk-table__cell">
                    0702401456</td>
                </tr>

              </tbody>
            </tbody>
          </table>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Account details</h2>
            <tbody class="govuk-table__body">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Name on the account</th>
                  <td class="govuk-table__cell">
                    Theodora Best</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Sort code</th>
                  <td class="govuk-table__cell">
                    101010</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Account number</th>
                  <td class="govuk-table__cell">
                    12121212</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Building society roll number</th>
                  <td class="govuk-table__cell">
                    QQQ-A1 123/45X</td>
                </tr>
              </tbody>
            </tbody>
          </table>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-heading-m">How do you want to process the payment?</h2>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="returnedPaymentProcess-2" name="returnedPaymentProcess" type="radio" value="change">
                  <label class="govuk-label govuk-radios__label" for="returnedPaymentProcess-2">
                    Change account details
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="returnedPaymentProcess-3" name="returnedPaymentProcess" type="radio" value="dead">
                  <label class="govuk-label govuk-radios__label" for="returnedPaymentProcess-3">
                    Citizen is dead
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="returnedPaymentProcess-3" name="returnedPaymentProcess" type="radio" value="no-contact">
                  <label class="govuk-label govuk-radios__label" for="returnedPaymentProcess-3">
                    Could not contact citizen
                  </label>
                </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="returnedPaymentProcess" name="returnedPaymentProcess" type="radio" value="reissue">
                    <label class="govuk-label govuk-radios__label" for="returnedPaymentProcess">
                      Reissue to the same account
                    </label>
                  </div>
                                                               
                
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

      </div>

    </div>

</div>

</main>
</div>

<script>
  nextPageRoutes = {
      'reissue': 'review-bank-details.html',
      'change': 'change-account-details.html',
      'dead': 'date-of-death.html',
      'no-contact': 'could-not-contact.html',
  }
</script>

{% endblock %}
