{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% if data ['update-details'] == 'yes' %}
         <form method="post" action="/current/record-view/overview-tab/update-details/update-anything-else">
      {% else %}
        <form method="post" action="/current/record-view/contact-tab/contact-details">
      {% endif %}
            {% include 'current/includes/_bar.html' %}


            <br>
            <br>

            <h1 class="govuk-heading-l">We must have at least one phone number to be able to contact you</h1>
            <p class =govuk-body>Which phone number would you like to add?</p>
            <form method="post">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="phoneneeded" name="phoneneeded" type="radio" value="homephoneneeded">
                      <label class="govuk-label govuk-radios__label" for="homephoneneeded">
                        Home phone
                      </label>
                    </div>
                      <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="phoneneeded" name="phoneneeded" type="radio" value="mobilephoneneeded">
                      <label class="govuk-label govuk-radios__label" for="mobilephoneneeded">
                        Mobile phone
                      </label>
                    </div>

                      <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="phoneneeded" name="phoneneeded" type="radio" value="workphoneneeded">
                      <label class="govuk-label govuk-radios__label" for="workphoneneeded">
                        Work phone
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <button type="submit" class="govuk-button">
                Continue
              </button>
            </form>


      </div>

    </div>

  </div>

  </main>
  </div>



  {% endblock %}
