{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-MI.html' %}

{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Summary of daily task counts</h1>
        
        <h2 class="govuk-heading-l">
          Thursday 18th April 
          <span class="govuk-caption-l">Updated 4.34am </span></h2>
        
        <p><a href="search-day" class="govuk-link">Choose a different day</a></p>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-summary-card govuk-!-width-full">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Review manual payment requests
              </h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                    Intake
                  </dt>
                  <dd class="govuk-table__cell--numeric govuk-!-margin-1" >
                    0
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                    Outstanding
                  </dt>
                  <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                    0
                  </dd>
                 </div>
              </dl>
            </div>
          </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card govuk-!-width-full">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  Review 13 week care homes cases
                </h2>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                      Intake
                    </dt>
                    <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                      12
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                      Outstanding
                    </dt>
                    <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                      4
                    </dd>
                   </div>
                </dl>
              </div>
            </div>
            </div>
    
            <div class="govuk-grid-column-one-third">
              <div class="govuk-summary-card govuk-!-width-full">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Approve commercial addresses
                  </h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                        Intake
                      </dt>
                      <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                        0
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                        Outstanding
                      </dt>
                      <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                        0
                      </dd>
                     </div>
                  </dl>
                </div>
              </div>
              </div>

   
      
                <div class="govuk-grid-column-one-third">
                  <div class="govuk-summary-card govuk-!-width-full">
                    <div class="govuk-summary-card__title-wrapper">
                      <h2 class="govuk-summary-card__title">
                       Pay death arrears
                      </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                      <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                            Intake
                          </dt>
                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                            12
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                            Outstanding
                          </dt>
                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                            4
                          </dd>
                         </div>
                      </dl>
                    </div>
                  </div>
                  </div>

                          <div class="govuk-grid-column-one-third">
                                  <div class="govuk-summary-card govuk-!-width-full">
                                    <div class="govuk-summary-card__title-wrapper">
                                      <h2 class="govuk-summary-card__title">
                                        Review GSL/WA
                                      </h2>
                                    </div>
                                    <div class="govuk-summary-card__content">
                                      <dl class="govuk-summary-list">
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                            Intake
                                          </dt>
                                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                            0
                                          </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                            Outstanding
                                          </dt>
                                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                            0
                                          </dd>
                                         </div>
                                      </dl>
                                    </div>
                                  </div>
                                  </div>
                        
                            
                                    <div class="govuk-grid-column-one-third">
                                      <div class="govuk-summary-card govuk-!-width-full">
                                        <div class="govuk-summary-card__title-wrapper">
                                          <h2 class="govuk-summary-card__title">
                                            Review overpayments
                                          </h2>
                                        </div>
                                        <div class="govuk-summary-card__content">
                                          <dl class="govuk-summary-list">
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                Intake
                                              </dt>
                                              <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                0
                                              </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                Outstanding
                                              </dt>
                                              <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                0
                                              </dd>
                                             </div>
                                          </dl>
                                        </div>
                                      </div>
                                      </div>
          
                                            <div class="govuk-grid-column-one-third">
                                              <div class="govuk-summary-card govuk-!-width-full">
                                                <div class="govuk-summary-card__title-wrapper">
                                                  <h2 class="govuk-summary-card__title">
                                                    Verify addresses
                                                  </h2>
                                                </div>
                                                <div class="govuk-summary-card__content">
                                                  <dl class="govuk-summary-list">
                                                    <div class="govuk-summary-list__row">
                                                      <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                        Intake
                                                      </dt>
                                                      <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                        0
                                                      </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                      <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                        Outstanding
                                                      </dt>
                                                      <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                        0
                                                      </dd>
                                                     </div>
                                                  </dl>
                                                </div>
                                              </div>
                                              </div>
                                    
                                              <div class="govuk-grid-column-one-third">
                                                <div class="govuk-summary-card govuk-!-width-full">
                                                  <div class="govuk-summary-card__title-wrapper">
                                                    <h2 class="govuk-summary-card__title">
                                                      Fix account details
                                                    </h2>
                                                  </div>
                                                  <div class="govuk-summary-card__content">
                                                    <dl class="govuk-summary-list">
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                          Intake
                                                        </dt>
                                                        <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                          12
                                                        </dd>
                                                      </div>
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                          Outstanding
                                                        </dt>
                                                        <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                          4
                                                        </dd>
                                                       </div>
                                                    </dl>
                                                  </div>
                                                </div>
                                                </div>
                                        
                                                <div class="govuk-grid-column-one-third">
                                                  <div class="govuk-summary-card govuk-!-width-full">
                                                    <div class="govuk-summary-card__title-wrapper">
                                                      <h2 class="govuk-summary-card__title">
                                                        Check submitted addresses
                                                      </h2>
                                                    </div>
                                                    <div class="govuk-summary-card__content">
                                                      <dl class="govuk-summary-list">
                                                        <div class="govuk-summary-list__row">
                                                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                            Intake
                                                          </dt>
                                                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                            0
                                                          </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                          <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                            Outstanding
                                                          </dt>
                                                          <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                            3
                                                          </dd>
                                                        </div>
                                                      </dl>
                                                    </div>
                                                  </div>
                                                  </div>
                                  
                                                    <div class="govuk-grid-column-one-third">
                                                      <div class="govuk-summary-card govuk-!-width-full">
                                                        <div class="govuk-summary-card__title-wrapper">
                                                          <h2 class="govuk-summary-card__title">
                                                            Contact citizens
                                                          </h2>
                                                        </div>
                                                        <div class="govuk-summary-card__content">
                                                          <dl class="govuk-summary-list">
                                                            <div class="govuk-summary-list__row">
                                                              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                                Intake
                                                              </dt>
                                                              <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                                0
                                                              </dd>
                                                            </div>
                                                            <div class="govuk-summary-list__row">
                                                              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                                                                Outstanding
                                                              </dt>
                                                              <dd class="govuk-table__cell--numeric govuk-!-margin-1">
                                                                0
                                                              </dd>
                                                             </div>
                                                          </dl>
                                                        </div>
                                                      </div>
                                                      </div>

                                                     

                                                    
                                          
                                                                       

        </div>

      </div>

    </div>
    </main>
    </div>

    {% endblock %}
