{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-eligibility.html' %}
{% endblock %}



{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
    
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You qualify for a payment of £200
          </h1>
        </div>
        <p class="govuk-body">
          For winter 2024, we worked out your payment during the week of 16 to 22 September. This is called "qualifying week."
         </p>

         <p class="govuk-body">
          You qualify for £200 because you were under 80 years old and getting Pension Credit during this year's qualifying week.
         </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}


