{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/timeperiod-answer-2" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Are you sure you want to approve the evidence of an EEA benefit for this claim?
                </h1>
              </legend>
              <div id="changedName-hint" class="govuk-hint">
                The evidence must be on blah. This will start their Winter Fuel payments.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="EEAevidence" name="EEAevidence" type="radio" value="yes" data="EEAevidence">
                  <label class="govuk-label govuk-radios__label" for="EEAevidence">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="EEAevidence-2" name="EEAevidence" type="radio" value="no" data="EEAevidence">
                  <label class="govuk-label govuk-radios__label" for="EEAevidence-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

       </div>
    </div>
    </main>
    </div>

    <script>
      nextPageRoutes = {
          'yes': '/current/new-EEA/overview-success.html',
          'no': 'update-details-options.html',
      }
  </script>

    {% endblock %}
