{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}
 


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post">

          {% include 'current/includes/_bar-jemima.html' %}

        <h1 class="govuk-heading-l">Review GSL / WA</h1>
        <h2 class="govuk-heading-m">Your details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Scarlett Humphrey
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 1978
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              When did you move into that address?
            </dt>
            <dd class="govuk-summary-list__value">
             12 October 1992
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07700 900457</p>
              <p class="govuk-body">scarlett.humphrey@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Who you live with</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is there anyone else living there who was born before 6 October 1954?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              If anyone else in the household gets a Winter Fuel Payment, when did they last get it?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
           </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Qualifying week</h2>
        <p>Between 16 to 22 September 2020, were you:
        </p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              in hospital getting free treatment?
           </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              in a care home?
            </dt>
            <dd class="govuk-summary-list__value">
              No
           </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                in custody or serving a sentence imposed by a court? 
             </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                getting UK State Pension or any other UK social security benefit?
              </dt>
              <dd class="govuk-summary-list__value">
                No
             </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
              </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Where you've lived and worked</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Including the UK, which countries have you lived or worked in?
              </dt>
              <dd class="govuk-summary-list__value">
              
             </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
              </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m"> Bank details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Bank account type
              </dt>
              <dd class="govuk-summary-list__value">
                Countries in the Beneficiary Database
             </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Bank account type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data ['accountholder'] or 'T Best' }} <br> {{ data ['bankcode'] or '098765439876' }}  <br> {{ data ['accountnumber'] or '0987884300' }} <br> {{ data ['ibanletters'] or '123'}}
           </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        </dl>

        <h2 class="govuk-heading-m"> Links to the UK</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you a UK national?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
             </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have you ever had a Winter Fuel Payment?
            </dt>
            <dd class="govuk-summary-list__value">
              No
           </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you ever returned to the UK to see a healthcare professional?          </dt>
          <dd class="govuk-summary-list__value">
            No
         </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
          </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you have family who live in the UK?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
       </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        How many times have you been to the UK to visit family in the last 3 years?
      </dt>
      <dd class="govuk-summary-list__value">
        
     </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
      </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Do you own property in the UK?    </dt>
    <dd class="govuk-summary-list__value">
      Yes
   </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
    </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Do you have a business registered in the UK?
  </dt>
  <dd class="govuk-summary-list__value">
    No
     </dd>
       <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you have family who live in the UK?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you returned to the UK for any other reason in the last 3 years?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have any other links to the UK that might support your application?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
          </dd>
        </div>
        </dl>
       
        <h2 class="govuk-heading-m">Links to other countries</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you a national of any other countries?
               </dt>
              <dd class="govuk-summary-list__value">
                No             
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you get benefits or pensions from a country outside of the UK?
           </dt>
            <dd class="govuk-summary-list__value">
             No
           </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
            </dd>
        </div>
        </dl>
         
      
       

 
 
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="gsl-decision-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                    Does the citizen have a genuine and sufficient link (GSL) to the UK?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="gsl-decision" name="gsl-decision" type="radio" value="approved">
                    <label class="govuk-label govuk-radios__label" for="gsl-decision">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="gsl-decision-2" name="gsl-decision" type="radio" value="not-approved">
                    <label class="govuk-label govuk-radios__label" for="gsl-decision-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
              Update case and continue
            </button>

</form>
    </div>

</div>

</main>
</div>

<script>
    nextPageRoutes = {
        'approved': 'WA',
        'not-approved': 'tasks-3-not-approved-3',
        }
</script>

{% endblock %}
