{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% include 'current/includes/_bar.html' %}

          

          <br>
          <br>

                    <table class="govuk-table">
                      <h2 class="govuk-heading-l">Payment details</h2>
                   
                      <thead class="govuk-table__head">
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header govuk-!-width-one-third">Exercise</th>
                          <td class="govuk-table__cell">2023/2024</td>
                          <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header govuk-!-width-one-third">Payment date</th>
                          <td class="govuk-table__cell">Wednesday 11 December 2024</td>
                          <td class="govuk-table__cell"></td>
                        </tr>
                      </tr><tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Payment type</th>
                        <td class="govuk-table__cell">CPS payment</td>
                        <td class="govuk-table__cell"></td>
                      </tr>
                    </tr><tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Reason</th>
                        <td class="govuk-table__cell">Payment not issued</td>
                        <td class="govuk-table__cell"></td>
                      </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Amount</th>
                          <td class="govuk-table__cell">£200</td>
                          <td class="govuk-table__cell"></td>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Status</th>
                          <td class="govuk-table__cell">Sent</td>
                          <td class="govuk-table__cell"></td>
                        </tr>
                      </tbody>
                    </table>


    

          <br>

          

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
