{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="benefits-outside">


          <form method="post">

            <h1 class="govuk-heading-xl">What is your status?</h1>

            <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="no-nationality-conditional-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      </legend>
                      <span id="no-nationality-conditional-hint" class="govuk-hint">
                        Select all that apply.
                      </span>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="no-nationality-conditional" name="no-nationality" type="checkbox" value="stateless" data-aria-controls="conditional-no-nationality-conditional">
                          <label class="govuk-label govuk-checkboxes__label" for="no-nationality-conditional">
                            You're a stateless person
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="no-nationality-conditional" name="no-nationality" type="checkbox" value="stateless" data-aria-controls="conditional-no-nationality-conditional">
                          <label class="govuk-label govuk-checkboxes__label" for="no-nationality-conditional">
                            You're a refugee
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="no-nationality-conditional" name="no-nationality" type="checkbox" value="stateless" data-aria-controls="conditional-no-nationality-conditional">
                          <label class="govuk-label govuk-checkboxes__label" for="no-nationality-conditional">
                            You're a partner of an EEA national
                          </label>
                        </div>

                       
                      </div>
                    </fieldset>
                  </div>

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="status-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                          What is your status?
                        </h1>
                      </legend>
                      <div id="waste-hint" class="govuk-hint">
                        Select all that apply.
                      </div>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                          <label class="govuk-label govuk-checkboxes__label" for="waste">
                           You're a stat
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                            Waste from mines or quarries
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                            Farm or agricultural waste
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>


            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
