{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


      <form method="post" action="application-type">



        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            This claim has been submitted
          </h1>

        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
                <p>We will use the information you've given us to check if you qualify for a Winter Fuel Payment.</p>
                <p>Once we've checked, we will send you a letter telling you whether you qualify or not.</p>
                
               
<br>

                <button class="govuk-button" data-module="govuk-button">
                  Start a claim for someone else
                </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
