{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'current/includes/_bar.html' %}
      <h1 class="govuk-heading-l">
        Questions about your custody or sentence.
      </h1>
      <h2 class="govuk-heading-m"></h2>
      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
          <p class="govuk-body">
            <label class="govuk-label" for="more-detail">
              What was the address of the institution you were detained in, and the name of the authority which imposed the sentence? 
            </label>
          </p>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
