{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        {% if data['mark-as-dlo']=='yes'%}
          {% include 'current/includes/_bar-dlo.html' %}
        {% else %}
          {% include 'current/includes/_bar.html' %}
        {% endif %}

        

            
              <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Fix account details</span>
                Which type of bank account should the payment go into?
              </h1>
              
            
              <form class="govuk-form" action="" method="post">

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      </legend>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="bank-type" name="bank-type" type="radio" value="UK bank or building society account">
                          <label class="govuk-label govuk-radios__label" for="new-address-uk">
                            UK bank or building society account
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="bank-type" name="bank-type" type="radio" value="EEA or Swiss bank account">
                          <label class="govuk-label govuk-radios__label" for="new-address-int">
                            EEA or Swiss bank account
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="bank-type" name="bank-type" type="radio" value="Countries in the Beneficiary Database">
                          <label class="govuk-label govuk-radios__label" for="new-address-ben">
                            Countries in the Beneficiary Database
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
             

              <button class="govuk-button" type="submit">
                Continue
              </button>

              <p><a href="/current/tasks/fix-account-details/case-returned.html">Return this case to the queue</a></p>

            </div>

            </form>

   

    </div>

  </div>

  </main>
  </div>

  <script>
    nextPageRoutes = {
        'UK bank or building society account': 'change-account-details',
        'EEA or Swiss bank account': 'change-account-details-int',
        'Countries in the Beneficiary Database': 'change-account-details-ben',}
  </script>


  {% endblock %}
