

{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-manage-admin-errors.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}

<br>
<br>

    <h1 class="govuk-heading-xl">War Pension file</h1>

    <p>
      <strong class="govuk-tag govuk-tag--red">
        Failed
      </strong>
    </p> 
    <p class="govuk-body">The job failed because the file is greater than 1 GB.</p> 
    <p class="govuk-body">You should contact the development team to investigate this.</p>
    <br><br>
    
    
    <div class="govuk-button-group">
      <button class="govuk-button govuk-button" data-module="govuk-button">
        Start
      </button>
    
      <button class="govuk-button govuk-button--warning" data-module="govuk-button">
        Stop
      </button>
    </div>

</div>

<br>



      <table class="govuk-table">
        <caption class="govuk-table__caption">Job Status</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Stage</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Write count</th>
            <th scope="col" class="govuk-table__header">Start time</th>
            <th scope="col" class="govuk-table__header">End time</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Validate file</td>
            <td class="govuk-table__cell">Failed</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">19 March 2024 5:21pm</td>
            <td class="govuk-table__cell">19 March 2024 5:22pm</td>
            <td class="govuk-table__cell">Job has failed. File is greater than 1 GB.</td>
            <td class="govuk-table__cell"><span class="not-verified-badge not-verified">
          </span></td>
          </tr>
        </tbody>
      </table>

  </div>
</div>



{% endblock %}
