

{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-manage-admin-errors.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}

<br>
<br>

    <h1 class="govuk-heading-xl">Data and analytics weekly refresh file (which includes running the cleanup)</h1>

    <p>
      <strong class="govuk-tag govuk-tag--red">
        Failed
      </strong>
    </p> 
    <div class="moj-banner moj-banner--warning" role="region" aria-label="Warning">

      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" />
      </svg>
    
      <div class="moj-banner__message"> The job failed because the Calculate eligibility stage failed. 3 rows failed validation in the Update case stage. You should contact the development team to investigate this.</p>
      </div>
    </div>
    
    
    <div class="govuk-button-group">
      <button class="govuk-button govuk-button" data-module="govuk-button">
        Start
      </button>
    
      <button class="govuk-button govuk-button--warning" data-module="govuk-button">
        Stop
      </button>
    </div>

</div>

<br>



      <table class="govuk-table">
        <caption class="govuk-table__caption">Job Status</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Stage</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Write count</th>
            <th scope="col" class="govuk-table__header">Start time</th>
            <th scope="col" class="govuk-table__header">End time</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Validate file</td>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell">19 March 2024 5:21pm</td>
            <td class="govuk-table__cell">19 March 2024 5:22pm</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
          </span></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Update case</td>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">19 March 2024 5:21pm</td>
            <td class="govuk-table__cell">19 March 2024 5:22pm</td>
            <td class="govuk-table__cell">3 rows have failed validation</td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
          </span></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Correct data</td>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">19 March 2024 5:21pm</td>
            <td class="govuk-table__cell">19 March 2024 5:22pm</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
          </span></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Verify address</td>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">19 March 2024 5:21pm</td>
            <td class="govuk-table__cell">19 March 2024 5:22pm</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
          </span></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Find related calculated cases</td>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">19 March 2024 5:21pm</td>
            <td class="govuk-table__cell">19 March 2024 5:22pm</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
          </span></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Calculate eligibility</td>
            <td class="govuk-table__cell">Failed</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">19 March 2024 5:21pm</td>
            <td class="govuk-table__cell">19 March 2024 5:22pm</td>
            <td class="govuk-table__cell">Job has failed.</td>
            <td class="govuk-table__cell"><span class="not-verified-badge not-verified">
          </span></td>
          </tr>

        </tbody>
      </table>

  </div>
</div>



{% endblock %}
