{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-shutter-no-eligibility.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, the Winter Fuel Payments service is unavailable</h1>
          <p class="govuk-body">
            We are working on the problem and will restore the service as soon as possible. Live Support services will keep you updated by email.          
          </p>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
