{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-shutter.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, the service is currently unavailable</h1>
          <p class="govuk-body">
            We are not able to access your records because we are updating our systems to let us send out this year's payments. 
          </p>
          <p class="govuk-body">
            You can call back again from 9am on Monday 28&nbsp;October&nbsp;2024.
          </p>
          <h2 class="govuk-heading-m">More information</h2>
          <p class="govuk-body">You can <a href="https://www.gov.uk/winter-fuel-payment" class="govuk-link">search for 'Winter Fuel' on GOV.UK</a> for more information, including when payments will be made.
          </p>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
