{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-shutter.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, the Winter Fuel Payments service is unavailable</h1>
              <p class="govuk-body">
                We are working on the problem and will restore the service as soon as possible. Live Support services will keep you updated by email.          
              </p>
          <p class="govuk-body">
            You can use the <a class="govuk-link" href="https://spay-eligibility.agent-service.dev.rbcdwp.net/spay-wf-eligibility-frontend/date-of-birth">Eligibility Checker</a> to check if a claimant qualifies for a payment. 
          </p>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
