{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "index",
  serviceName: serviceName,
  serviceUrl: "/index.html",
  navigation: [
  {
    href: "/current/record-view/find-someone/find",
    text: "Find someone",
        active: true
  },
  {
    href: "/current/new-claims/uk/type-of-application",
    text: "UK new claim"
  },
  {
    href: "/current/new-claims/international/find",
    text: "International new claim"
  },
  {
    href: "/current/scottish-dev/tasks-scotdevonly",
    text: "Tasks"
  }
  ]
}) }}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include 'current/includes/_bar-scottish-4.html' %}

        <form method="post">

      

          <nav class="navigation-secondary">
            <ul>
              <li>
                <a href="/current/scottish-dev/overview-scottish-6">Overview</a>
              </li>
          
              <li>
                <a href="/current/scottish-dev/contact-details-scot">Contact</a>
              </li>
          
              <li>
                <a href="/current/scottish-dev/payments-scot">Payments</a>
              </li>
          
              <li>
                <a href="/current/scottish-dev/action-history-multiple-years-dl-change-scot" class="active" aria-current="page">Full history</a>
              </li>
          
            
          
            </ul>
          </nav>

<br>
<br>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This person does not qualify because they live in Scotland. Review the guidance for their circumstances.
                          </strong>
</div>

<h2 class="govuk-heading-m" id="0">
  Exercise 2024/2025
</h2>

  <table class="govuk-table">

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="width:25%">Date</th>
        <th scope="col" class="govuk-table__header" style="width:60%">Action</th>
        <th scope="col" class="govuk-table__header" >By</th>
        <th scope="col" class="govuk-table__header" ></th>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >10 Oct 2024 11:01 </td>
        <td class="govuk-table__cell" >Data load: change to Scottish address</td>
        <td class="govuk-table__cell" >WFS</td>
      </tr>

      </tbody>
      </table>


            <h2 class="govuk-heading-m" id="0">
              Exercise 2023/2024
            </h2>

              <table class="govuk-table">

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width:25%">Date</th>
                    <th scope="col" class="govuk-table__header" style="width:60%">Action</th>
                    <th scope="col" class="govuk-table__header" >By</th>
                    <th scope="col" class="govuk-table__header" ></th>
                  </tr>


    
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >12 Oct 2023 11:01 </td>
                    <td class="govuk-table__cell" >Payment of £500 scheduled for 28 November 2022</td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Oct 2023 08:20</td>
                    <td class="govuk-table__cell" >Full entitlement / under 80 - lives with no one else over state pension age</td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>
        
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Oct 2023 08:20</td>
                    <td class="govuk-table__cell" >Eligible for 2022/2023 </td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Oct 2023 03:00 </td>
                    <td class="govuk-table__cell" >Data load: change of bank details   </td>
                    <td class="govuk-table__cell" >GySP</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >10 Oct 2023 15:00 </td>
                    <td class="govuk-table__cell" >Data load: change of address </td>
                    <td class="govuk-table__cell" >D&A</td>
                  </tr>



                </tbody>
              </table>
             
           

        <h2 class="govuk-heading-m" id="1">
                Exercise 2022/2023
              </h2>


                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" style="width:25%">Date</th>
                      <th scope="col" class="govuk-table__header" style="width:60%">Action</th>
                      <th scope="col" class="govuk-table__header">By</th>
                      <th scope="col" class="govuk-table__header"></th>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >28 Nov 2022 08:00 </td>
                      <td class="govuk-table__cell" >Payment of £500 sent on Thurday 1 December 2022</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >20 Nov 2022 09:00 </td>
                      <td class="govuk-table__cell" >Annual payment - letter sent</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >12 Nov 2022 11:01 </td>
                      <td class="govuk-table__cell" >Annual payment - letter scheduled</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >12 Nov 2022 11:01 </td>
                      <td class="govuk-table__cell" >Payment of £500 scheduled for 28 November 2022</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Nov 2022 08:20</td>
                    <td class="govuk-table__cell" >Full entitlement / under 80 - lives with no one else over state pension age</td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>

           
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">09 Nov 2022 09:01</td>
                  <td class="govuk-table__cell"> Eligible for 2022/2023 </td>
                  <td class="govuk-table__cell">WFS
                </td>
              </tr>

                 
                  </tbody>
                </table>
               

                 <h2 class="govuk-heading-m" id="2">
                  Exercise 2021/2022
              </h2>

                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" style="width:25%">Date</th>
                      <th scope="col" class="govuk-table__header" style="width:60%">Action</th>
                      <th scope="col" class="govuk-table__header">By</th>
                      <th scope="col" class="govuk-table__header"></th>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >28 Nov 2021 08:00 </td>
                      <td class="govuk-table__cell" >Payment of £500 sent on Thurday 1 December 2021</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >25 Oct 2021 09:00 </td>
                      <td class="govuk-table__cell" >Annual payment - letter sent</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >12 Oct 2021 11:01 </td>
                      <td class="govuk-table__cell" >Annual payment - letter scheduled</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >12 Oct 2021 11:01 </td>
                      <td class="govuk-table__cell" >Payment of £500 scheduled for 28 November 2021</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Oct 2021 08:20</td>
                    <td class="govuk-table__cell" >Full entitlement / under 80 - lives with no one else over state pension age</td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>

           
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">11 Oct 2021 09:01</td>
                  <td class="govuk-table__cell"> Eligible for 2021/2022 </td>
                  <td class="govuk-table__cell">WFS
                </td>
              </tr>

                   

                   
                    </tbody>
                  </table>          

               

       

      <!--</div>
      <div class="govuk-grid-column-one-third">
        {% include 'current/includes/_history.html' %}
      </div>
    </div>-->

  </div>

  </main>
  </div>

  {% endblock %}
