{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "index",
  serviceName: serviceName,
  serviceUrl: "/index.html",
  navigation: [
  {
    href: "/current/record-view/find-someone/find",
    text: "Find someone",
        active: true
  },
  {
    href: "/current/new-claims/uk/type-of-application",
    text: "UK new claim"
  },
  {
    href: "/current/new-claims/international/find",
    text: "International new claim"
  },
  {
    href: "/current/scottish-dev/tasks-scotdevonly",
    text: "Tasks"
  }
  ]
}) }}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

        <!-- {% if data['preferred-name-added']=='true'%}
             {% include 'current/includes/_bar-preferred-name.html' %}
          {% else %}
             {% include 'current/includes/_bar-preferred-name.html' %}
          {% endif %}-->
          
          {% if data['alt-format-changed'] == 'true' or data ['contact-details-changed'] == 'true'%}
          <div class="moj-banner moj-banner--success">



          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
          <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
          </svg>

          <div class="moj-banner__message">
          <span class="moj-banner__assistive">Success</span>Details updated
          </div>

          </div>
        {% endif %}

        {% include 'current/includes/_bar-scottish-4.html' %}

          <nav class="navigation-secondary">
            <ul>
              <li>
                <a href="/current/scottish-dev/overview-scottish-6">Overview</a>
              </li>
          
              <li>
                <a href="/current/scottish-dev/contact-details-scot" class="active" aria-current="page">Contact</a>
              </li>
          
              <li>
                <a href="/current/scottish-dev/payments-scot">Payments</a>
              </li>
          
              <li>
                <a href="/current/scottish-dev/action-history-multiple-years-dl-change-scot">Full history</a>
              </li>
          
            
          
            </ul>
          </nav>
          <br><br>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
             <span class="govuk-visually-hidden">Warning</span>
              This person does not qualify because they live in Scotland. Review the guidance for their circumstances.
                                    </strong>
          </div>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Contact details</h2>

            <tbody class="govuk-table__body">
              {% if data['mark-as-dead']=='yes'%}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Date of death
                </th>
                <td class="govuk-table__cell">{{data['death-day']}}
                  {% if (data['death-month'] == '1') or (data['death-month'] == '01') %} January 
                  {% elif (data['death-month'] == '2') or (data['death-month'] == '02') %} February 
                  {% elif (data['death-month'] == '3') or (data['death-month'] == '03') %} March 
                  {% elif (data['death-month'] == '4') or (data['death-month'] == '04') %} April 
                  {% elif (data['death-month'] == '5') or (data['death-month'] == '05') %} May 
                  {% elif (data['death-month'] == '6') or (data['death-month'] == '06') %} June 
                  {% elif (data['death-month'] == '7') or (data['death-month'] == '07') %} July 
                  {% elif (data['death-month'] == '8') or (data['death-month'] == '08') %} August 
                  {% elif (data['death-month'] == '9') or (data['death-month'] == '09') %} September 
                  {% elif data['death-month'] == '10' %} October 
                  {% elif data['death-month'] == '11' %} November 
                  {% elif data['death-month'] == '12' %} December 
                  {% endif %}
                  {{data['death-year']}}
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="date-of-death">
                  {% if (data['death-day']) %}
                    Change<span class="govuk-visually-hidden"> date of death</span>
                  {% else %}
                    Add<span class="govuk-visually-hidden"> date of death</span>
                  {% endif %}
                  </a>
                </td>
              </tr>
            {% endif %}
             
            
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border-bottom:0px;">Address</th>
                <td class="govuk-table__cell" style="border-bottom:0px;">
                  
                  1 Victoria Road<br>
                  FALKIRK<br>
                  FK55 8XN
                 
                </td>
                <td class="govuk-table__cell table-links-padding-left" style="border-bottom:0px;">
                   <a class="govuk-link" href="/current/record-view/contact-tab/address/new-address">
                    Change<span class="govuk-visually-hidden"> address</span>
                  </a>
                  </td>
              </tr>


              
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"></th>
                <td class="govuk-table__cell">
                  since {% if data['move-date-changed'] == 'true' %}
                  {{data['moveday']}}
                  {% if (data['movemonth'] == '1') or (data['movemonth'] == '01') %} January 
                    {% elif (data['movemonth'] == '2') or (data['movemonth'] == '02') %} February 
                    {% elif (data['movemonth'] == '3') or (data['movemonth'] == '03') %} March 
                    {% elif (data['movemonth'] == '4') or (data['movemonth'] == '04') %} April 
                    {% elif (data['movemonth'] == '5') or (data['movemonth'] == '05') %} May 
                    {% elif (data['movemonth'] == '6') or (data['movemonth'] == '06') %} June 
                    {% elif (data['movemonth'] == '7') or (data['movemonth'] == '07') %} July 
                    {% elif (data['movemonth'] == '8') or (data['movemonth'] == '08') %} August 
                    {% elif (data['movemonth'] == '9') or (data['movemonth'] == '09') %} September 
                    {% elif data['movemonth'] == '10' %} October 
                    {% elif data['movemonth'] == '11' %} November 
                    {% elif data['movemonth'] == '12' %} December 
                  {% endif %}
                  {{data['moveyear']}}
                  {% else %}
                      10 March 2023
                   {% endif %}
                 </td>
                 <td class="govuk-table__cell">
                   <a class="govuk-link table-links-padding-left" href="move-date?prev-page=change-move-date">
                    Change<span class="govuk-visually-hidden"> move date</span>
                  </a>
                  </td>
               
                  
            
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Home phone</th>

                <td class="govuk-table__cell govuk-!-width-one-half">
                  {% if data['homephone-remove'] === 'yes' %}
                  {% elseif data.homephone %}
                  {{data.homephone}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/home-phone/homephone.html">
                      {% if not data.homephone or data['homephone-remove'] === 'yes'%}
                      Add<span class="govuk-visually-hidden"> home phone number</span>
                      {% else %}
                        Change<span class="govuk-visually-hidden"> home phone number</span>
                      {% endif %}
                    </a>
                </td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mobile phone</th>
                  <td class="govuk-table__cell">
                    {% if data['mobilephone-remove'] === 'yes' %}
                     {% elseif data.mobilenumber %}
                     {{data.mobilenumber}}
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell table-links-padding-left">
                    <a href="/current/record-view/contact-tab/mobile-phone/mobilephone.html">
                      {% if not data.mobilenumber or data['mobilephone-remove'] === 'yes'%}
                      Add<span class="govuk-visually-hidden"> mobile number</span>
                      {% else %}
                        Change<span class="govuk-visually-hidden"> mobile number</span>
                      {% endif %}
                    </a>
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Work phone</th>
                <td class="govuk-table__cell">
                  
                  {% if data['workphone-remove'] === 'yes' %}
                  {% elseif data.worknumber%}
                  {{data.worknumber}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/work-phone/workphone.html">
                    {% if not data.worknumber or data['workphone-remove'] === 'yes'%}
                    Add<span class="govuk-visually-hidden"> work number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> work number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email address</th>
                <td class="govuk-table__cell">


                  {% if data['email-remove'] === 'yes' %}
                  {% elseif data.email%}
                  {{data.email}}
                  {% endif %}


                </td>
                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/email/email.html">

                    {% if data['email'] or data['email3'] %}
                    Change<span class="govuk-visually-hidden">email</span>
                    {% else %}
                    Add<span class="govuk-visually-hidden">email</span>
                    {% endif %}

                  </a>
                </td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Requested name</th>
                <td class="govuk-table__cell">
                  {{data['preferred-first-name']}} {{data['preferred-last-name']}}
                </td>
                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/overview-tab/update-details/preferred-name.html">

                    {% if data['preferred-first-name'] %}
                    Change<span class="govuk-visually-hidden">requested name</span>
                    {% else %}
                    Add<span class="govuk-visually-hidden">requested name</span>
                    {% endif %}

                  </a>
                </td>
              </tr>

               <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondence address</th>
                <td class="govuk-table__cell">
                  1 Victoria Road<br>
                    FALKIRK<br>
                    FK55 8XN
                </td>


                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/correspondence-address/correspondence-address.html">
                    {% if not data['correspondence-address-change'] %}
                    Change <span class="govuk-visually-hidden">contact preferences</span>
                    {% else %}
                    Change <span class="govuk-visually-hidden">contact preferences</span>
                    {% endif %}
                    <span class="govuk-visually-hidden">Change address</span>
                  </a>
                </td>

              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Alternative format</th>


                <td class="govuk-table__cell">
              {% if data['alternative-format'] !== 'remove' %}
                  {% if data['alternative-format'] %}
                  {{data['alternative-format']}}
                {% endif %}

                {% if data['alternative-format'] === 'Welsh language' %}
                {% if data['large'] === 'Large print (default - size 16)' %}
                  <br>Large print (default - size 16)
                {% if data['large-2'] === 'Large print (custom size)' %}
                  <br>Large print (custom size)
                {% endif %}
                {% endif %}
                {% endif %}

                {% if data['alternative-format'] === 'Welsh language' or data['alternative-format'] === 'Large print (custom size)' %}
                  {% if data['large-print'] %}
                  <br>{{data['large-print']}}
                {% endif %}
                {% endif %}

                {% if data['alternative-format'] === 'Welsh language' or data['alternative-format'] === 'Large print (default - size 16)' or data['alternative-format'] === 'Large print (custom size)' %}
                  {% if data['bold'] === 'yes' %}
                  <br>Bold
                {% endif %}
                {% endif %}

                {% if data['colour'] %}
                  : <br>
                  {% if data['colour'] %}
                  {{data['colour']}}
                {% endif %}
                {% endif %}


              {% endif %}

                </td>


                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/alt-formats/alt.html">
                  {% if data['alternative-format'] !== 'remove' %}
                    {% if data['alternative-format'] %}
                    Change<span class="govuk-visually-hidden"> alternative format.</span>
                    {% else %}
                    Add<span class="govuk-visually-hidden"> alternative format.</span>
                    {% endif %}
                     {% else %}
                    Add
                  {% endif %}
                  </a>
                </td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Preferred language</th> 
                  <td class="govuk-table__cell">
                    English
                  </td>


                  <td class="govuk-table__cell table-links-padding-left">
                    <a href="/current/record-view/contact-tab/preferred-language/confirm-change-language-welsh">

                        Change


                    </a>
                  </td>

                </tr>
            </tbody>
          </table>
        

      </div>


      
      {% if data['alt-format-changed'] == 'true' %}
        <div class="govuk-grid-column-one-third">
          {% include 'current/includes/_history3.html' %}
       </div>
      {% else %}
        <div class="govuk-grid-column-one-third">

        </div>
      {% endif %}

    </div>

</div>

</main>
</div>

{% endblock %}
