{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/ukaddress" method="post" novalidate>
        
        {% include 'current/includes/_bar.html' %}


              <h2 class="govuk-heading-l">Is the address in the UK?</h2>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">


                  <div class="govuk-form-group">
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ukaddress" name="ukaddress" type="radio" value="ukaddress-yes">
                        <label class="govuk-label govuk-radios__label" for="ukaddress-yes">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ukaddress" name="ukaddress" type="radio" value="ukaddress-no">
                        <label class="govuk-label govuk-radios__label" for="ukaddress-no">
                          No, it is an international address
                        </label>
                      </div>
                    </div>                    
                    </div>
                  </fieldset>
                
              </div>

              <p>

              <p><a href="/current/record-view/contact-tab/correspondence-address/correspondence-address-remove-8front" class="govuk-link">Remove correspondence address as a contact option</a></p>
              
              <br>

              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
