{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-find.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Case not found</h1>

        <form method="post" action="find">
            <div class="govuk-form-group">
            <p class="govuk-body">
No case was located with the identifier you provided.
            </p>
        </div>

          <button type="submit" class="govuk-button">
            Find someone again
          </button>

        </form>



        </div>

      </div>

    </div>
    </main>
    

    {% endblock %}
