{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


{{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        {% include 'current/includes/_bar.html' %}

        

            <form method="post" action="decline-and-update-change-review">
               
              <div class="govuk-form-group">
                <h1 class="govuk-heading-l">
                  <span class="govuk-caption-l">Request manual payment</span>
                  Are the citizen’s bank details correct?
                </h1>

               <!-- <table class="govuk-table">
                    
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header"></th>
                      <th scope="col" class="govuk-table__header"></th>
                    </tr>
                  </thead>
                 
                   
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Bank details</th>
                    <td class="govuk-table__cell"> {{ data ['sortcode'] or '01-02-03' }}  <br> {{ data ['accountnumber'] or '12345678' }}</td>
                    
                  </tr>
                 
                    
        
                  </tbody>
                </table>-->

                <div class="govuk-inset-text">
                  Current bank details: <br> 09 87 65 <br> 0987654
                </div>

                
            <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                   
                   
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste" name="confirmed-checked" type="checkbox" value="Confirmed">
                        <label class="govuk-label govuk-checkboxes__label" for="waste">
                          Confirm the citizen's bank details are correct.
                        </label>
                      </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                  

             
            
              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
