{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}



{% block content %}

 

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="../payments-success-v2">
    
          {% include 'current/includes/_bar_2.html' %}

          <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Request manual payment</span>
            Check manual payment request
          </h1>

          <h2 class="govuk-heading-m"> Decline and update details</h2>
          <table class="govuk-table">
           
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Reason for update</th>
                <td class="govuk-table__cell">{{ data[''] or 'Incorrect exercise'}} <br> {{ data[''] or 'Incorrect amount'}} <br> {{ data[''] or 'Incorrect bank details'}} </td>
                <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Actioned by</th>
                <td class="govuk-table__cell">{{ data [''] or 'Manager staff ID: 00981237' }}</td>
                <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              </tr>
            </tbody>
          </table>
          <br>

          <h2 class="govuk-heading-m">Manual payment request</h2>

          <table class="govuk-table">
           
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Exercise</th>
                <td class="govuk-table__cell">{{ data [''] or '2021/2022' }}</td>
                <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Reason</th>
                <td class="govuk-table__cell">{{ data[''] or 'Technical problem with SPS'}}</td>
                <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Amount</th>
                <td class="govuk-table__cell">{{ data [''] or '£200' }}</td>
                <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date requested</th>
                <td class="govuk-table__cell">{{ data [''] or '5 March 2023' }}</td>
                <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              </tr>
            </tbody>
          </table>
          <br>

          <h2 class="govuk-heading-m">Updated manual payment request</h2>

          
            <table class="govuk-table">
             
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header"></th>
                  <th scope="col" class="govuk-table__header"></th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-third">Exercise</th>
                  <td class="govuk-table__cell">{{ data ['last-year'] or '-' }}</td>
                  <td class="govuk-table__cell"><a href="request-manual-payment-this-year.html" class="govuk-link">Change</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Reason</th>
                  <td class="govuk-table__cell">{{ data['payment-reason'] or 'Technical problem with SPS'}}</td>
                  <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Amount</th>
                  <td class="govuk-table__cell">{{ data ['payment-amount'] or '-' }}</td>
                  <td class="govuk-table__cell"><a href="" class="govuk-link">Change</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Bank details</th>
                  <td class="govuk-table__cell">{{ data ['confirmed-checked'] }}</td>
                  <td class="govuk-table__cell"><a href="" class="govuk-link">Change</a></td>
                </tr>
              </tbody>
            </table>


          


          <!--  <br>
            <h2 class="govuk-heading-m">Caller declaration</h2>

            <p>By making this change, you agree that:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the information you've given is correct and complete as far as you know</li>
              <li>you'll tell the Department for Work and Pensions straight away if your circumstances change</li>
              <li>you'll pay back any money you're overpaid if you're asked to</li>
            </ul>
  
<br>-->
  
              <button type="submit" class="govuk-button">
                Submit request 
                <input type="hidden" name="details-updated" value="yes">
              </button>


          </form>

    </div>

</div>

</main>
</div>


{% if data['update-details'] == 'yes'%}
   {% set nextReviewPage = '/current/record-view/overview-tab/update-details/overview-manual-payment-processed' %} 
{% else %}
  {% set nextReviewPage = 'get-next-task-manual-payment' %}
{% endif %}

    <script>
        nextPageRoutes = {
            'yes': '{{nextReviewPage}}',
            'change': 'request-manual-payment-this-year',
            'return': '',
            'no': 'cancel-reason',
        }
    </script>


{% endblock %}
