{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-MI.html' %}
<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link"  href="daily">Daily</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="weekly-summary">Weekly</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="#3">Search all data</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/timeperiod-answer" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What time period do you want to get data for?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whendata" name="whendata" type="radio" value="year" data="whendata">
                  <label class="govuk-label govuk-radios__label" for="whendata">
                    Year to date
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whendata-2" name="whendata" type="radio" value="range" data="whendata">
                  <label class="govuk-label govuk-radios__label" for="whendata-2">
                    Specific date range
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whendata-3" name="whendata" type="radio" value="day" data="whendata">
                  <label class="govuk-label govuk-radios__label" for="whendata-3">
                    Specific date
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

       </div>
    </div>
    </main>
    </div>

    {% endblock %}
