{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}




        {% include 'current/includes/_bar.html' %} 

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <form class="govuk-form" action="contact" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="wf-payment-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Have you ever had a Winter Fuel Payment?
                </h1>
              </legend>
              <br>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="wf-payment-conditional" name="wf-payment" type="radio" value="yes" data-aria-controls="conditional-wf-payment-conditional">
                  <label class="govuk-label govuk-radios__label" for="wf-payment-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="wf-payment-conditional-2" name="wf-payment" type="radio" value="no" data-aria-controls="conditional-wf-payment-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="wf-payment-conditional-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


         <button class="govuk-button" type="submit">
            Continue
          </button>



        </form>



      </div>

    </div>

</div>
</main>
</div>


{% endblock %}
