{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-eligibility.html' %}
{% endblock %}



{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
    
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <form action="/meanstested" method="post" novalidate>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Were you receiving any of the following during the week of 16 to 22 September 2024?
                    </h1>
                  </legend>
                  
<ul class="govuk-list govuk-list--bullet">
  <li>Attendance Allowance</li>
  <li>Personal Independence Payment (PIP)</li>
  <li>Carer's Allowance</li>
  <li>Disability Living Allowance (DLA)</li>
  <li>Income-based Jobseeker's Allowance</li>
  <li>Income-related Employment and Support Allowance</li>
  <li>Income Support</li>
  <li>Awards from the War Pensions Scheme</li>
  <li>Industrial Injuries Disablement Benefit</li>
  <li>Incpacity Benefit</li>
  <li>Industrial Death Benefit</li>
</ul>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Where to find this information
    </span>
  </summary>
  <div class="govuk-details__text">
    You might have a letter, text or email from from DWP or HMRC that says what benefit or tax credit you are getting. You might also see it on your bank statement.
  </div>
</details>

<div class="govuk-radios" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="meanstested" name="meanstested" type="radio" value="yes">
    <label class="govuk-label govuk-radios__label" for="meanstested">
      Yes
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="meanstested" name="meanstested" type="radio" value="no">
    <label class="govuk-label govuk-radios__label" for="meanstested-2">
      No
    </label>
  </div>

</div>
          
                    
                </fieldset>
              </div>
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </form>
          </div>
        </div>
      </main>

    </div>
  </div>

{% endblock %}


