{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include 'current/includes/_header-eligibility.html' %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You need to contact Social Security Scotland
      </h1>

      <p>
        The Scottish Government is replacing the Winter Fuel Payment with the Pension Age Winter Heating Payment for people who live in Scotland.
 
      </p>

      <p>
        You can find out more on www.gov.scot, or contact Social Security Scotland on 0800 182 2222 for more information or to claim Pension Age Winter Heating Payment.
      </p>

    </div>
  </div>

{% endblock %}
