{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'current/includes/_bar-ineligible-benefits.html' %}

        <form method="post">

      

            {% include 'current/includes/_tab-history-ineligible-benefit.html' %}

<br>
<h1 class="govuk-heading-l">Action history</h1>

<h2 class="govuk-heading-m" id="0">
  Exercise 2024/2025
</h2>

  <table class="govuk-table">

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="width:25%">Date</th>
        <th scope="col" class="govuk-table__header" style="width:60%">Action</th>
        <th scope="col" class="govuk-table__header" >By</th>
        <th scope="col" class="govuk-table__header" ></th>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >12 Oct 2024 11:01 </td>
        <td class="govuk-table__cell" >No entitlement</td>
        <td class="govuk-table__cell" >WFS</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >12 Oct 2023 11:01 </td>
        <td class="govuk-table__cell" >Ineligible - no qualifying benefit</td>
        <td class="govuk-table__cell" >WFS</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >10 Oct 2023 15:00 </td>
        <td class="govuk-table__cell" >Data load: change of address </td>
        <td class="govuk-table__cell" >D&A</td>
      </tr>



    </tbody>
  </table>

<h2 class="govuk-heading-m" id="0">
  Exercise 2023/2024
</h2>

  <table class="govuk-table">

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="width:25%">Date</th>
        <th scope="col" class="govuk-table__header" style="width:60%">Action</th>
        <th scope="col" class="govuk-table__header" >By</th>
        <th scope="col" class="govuk-table__header" ></th>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >12 Oct 2023 11:01 </td>
        <td class="govuk-table__cell" >Annual payment - letter scheduled</td>
        <td class="govuk-table__cell" >WFS</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >12 Oct 2023 11:01 </td>
        <td class="govuk-table__cell" >Payment of £500 scheduled for 28 November 2023</td>
        <td class="govuk-table__cell" >WFS</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >11 Oct 2023 08:20</td>
        <td class="govuk-table__cell" >Full entitlement / under 80 - lives with no one else over state pension age</td>
        <td class="govuk-table__cell" >WFS</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >11 Oct 2023 08:20</td>
        <td class="govuk-table__cell" >Eligible for 2023/2024 </td>
        <td class="govuk-table__cell" >WFS</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >11 Oct 2023 03:00 </td>
        <td class="govuk-table__cell" >Data load: change of bank details   </td>
        <td class="govuk-table__cell" >GySP</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >10 Oct 2023 15:00 </td>
        <td class="govuk-table__cell" >Data load: change of address </td>
        <td class="govuk-table__cell" >D&A</td>
      </tr>



    </tbody>
  </table>

            <h2 class="govuk-heading-m" id="0">
              Exercise 2022/2023
            </h2>

              <table class="govuk-table">

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width:25%">Date</th>
                    <th scope="col" class="govuk-table__header" style="width:60%">Action</th>
                    <th scope="col" class="govuk-table__header" >By</th>
                    <th scope="col" class="govuk-table__header" ></th>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >12 Oct 2022 11:01 </td>
                    <td class="govuk-table__cell" >Annual payment - letter scheduled</td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>
    
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >12 Oct 2022 11:01 </td>
                    <td class="govuk-table__cell" >Payment of £500 scheduled for 28 November 2022</td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Oct 2022 08:20</td>
                    <td class="govuk-table__cell" >Full entitlement / under 80 - lives with no one else over state pension age</td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>
        
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Oct 2022 08:20</td>
                    <td class="govuk-table__cell" >Eligible for 2022/2023 </td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Oct 2022 03:00 </td>
                    <td class="govuk-table__cell" >Data load: change of bank details   </td>
                    <td class="govuk-table__cell" >GySP</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >10 Oct 2022 15:00 </td>
                    <td class="govuk-table__cell" >Data load: change of address </td>
                    <td class="govuk-table__cell" >D&A</td>
                  </tr>



                </tbody>
              </table>
             
           

        <h2 class="govuk-heading-m" id="1">
                Exercise 2020/2021
              </h2>


                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" style="width:25%">Date</th>
                      <th scope="col" class="govuk-table__header" style="width:60%">Action</th>
                      <th scope="col" class="govuk-table__header">By</th>
                      <th scope="col" class="govuk-table__header"></th>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >28 Nov 2020 08:00 </td>
                      <td class="govuk-table__cell" >Payment of £500 sent on Thurday 1 December 2020</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >20 Nov 2020 09:00 </td>
                      <td class="govuk-table__cell" >Annual payment - letter sent</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >12 Nov 2020 11:01 </td>
                      <td class="govuk-table__cell" >Annual payment - letter scheduled</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >12 Nov 2020 11:01 </td>
                      <td class="govuk-table__cell" >Payment of £500 scheduled for 28 November 2020</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Nov 2020 08:20</td>
                    <td class="govuk-table__cell" >Full entitlement / under 80 - lives with no one else over state pension age</td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>

           
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">09 Nov 2020 09:01</td>
                  <td class="govuk-table__cell"> Eligible for 2020/2021 </td>
                  <td class="govuk-table__cell">WFS
                </td>
              </tr>

                 
                  </tbody>
                </table>
               

                 <h2 class="govuk-heading-m" id="2">
                  Exercise 2019/2020
              </h2>

                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" style="width:25%">Date</th>
                      <th scope="col" class="govuk-table__header" style="width:60%">Action</th>
                      <th scope="col" class="govuk-table__header">By</th>
                      <th scope="col" class="govuk-table__header"></th>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >28 Nov 2019 08:00 </td>
                      <td class="govuk-table__cell" >Payment of £500 sent on Thurday 1 December 2019</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >25 Oct 2019 09:00 </td>
                      <td class="govuk-table__cell" >Annual payment - letter sent</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >12 Oct 2019 11:01 </td>
                      <td class="govuk-table__cell" >Annual payment - letter scheduled</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" >12 Oct 2019 11:01 </td>
                      <td class="govuk-table__cell" >Payment of £500 scheduled for 28 November 2019</td>
                      <td class="govuk-table__cell" >WFS</td>
                    </tr>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >11 Oct 2019 08:20</td>
                    <td class="govuk-table__cell" >Full entitlement / under 80 - lives with no one else over state pension age</td>
                    <td class="govuk-table__cell" >WFS</td>
                  </tr>

           
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">11 Oct 2019 09:01</td>
                  <td class="govuk-table__cell"> Eligible for 2019/2020 </td>
                  <td class="govuk-table__cell">WFS
                </td>
              </tr>

                   

                   
                    </tbody>
                  </table>          

               

       

      <!--</div>
      <div class="govuk-grid-column-one-third">
        {% include 'current/includes/_history.html' %}
      </div>
    </div>-->

  </div>

  </main>
  </div>

  {% endblock %}
