{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}



{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

<form class="form" action="/current/tasks/send-alternative-format/alternative-format-confirm-no-contact" method="post"> 
       
          

         <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
 <h1 class="govuk-heading-l">Task postponed</h1>
        <p class="govuk-body">The task has been returned to the queue.</p>
          </div>
        </main>

            
<button
  type="submit"
  class="govuk-button"
  name="nextaction"
  value="continue">
  View next request
</button>

<button
  type="submit"
  class="govuk-button govuk-button--secondary"
  name="nextaction"
  value="return">
  Return to task list
</button>

          </form>

          <br><br><br><br>

                  <p class="govuk-body-s">(If "could not contact citizen" is selected a third time, <a href="/current/tasks/send-alternative-format/alternative-format-confirm-no-contact-three">this Confirmaiton Page displays</a>).</p>


      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
