{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}



{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


       

          {% include 'current/includes/_bar_2.html' %}
         

            <h1 class="govuk-heading-l">Fulfil alternative format requests</h1>
            
            <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Letter details</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Product name</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">Annual Winter Fuel Payment letter</td>
                </tr>
              </thead>
                            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Preferred language</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">English</td>
                </tr>
              </thead>
              </table>
                <br><br>
            </div>
          

               <div class="govuk-grid-column-three-quarters">
            <table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">
  Field names and information<br>
  <span class="govuk-body"; style="color:#484949; style="display:block;">
Use this information to complete blank fields in the letter template.</span>
</caption>      
<thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Field name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Information needed</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Information to include</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">name</th>
      <td class="govuk-table__cell">Name</td>
      <td class="govuk-table__cell">THEODORA BEST</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">addressLines and postCode</th>
      <td class="govuk-table__cell">Address</td>
      <td class="govuk-table__cell">72 GUILD STREET
        <br>LONDON
        <br>SE23 6FH</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">nino</th>
      <td class="govuk-table__cell">National Insurance number</td>
      <td class="govuk-table__cell">QQ 12 34 56 X</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">amount</th>
      <td class="govuk-table__cell">Amount paid to citizen</td>
      <td class="govuk-table__cell">£200</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">last4Digits</th>
      <td class="govuk-table__cell">Last 4 digits of account number</td>
      <td class="govuk-table__cell">5678</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">pmtDeadline</th>
      <td class="govuk-table__cell">Latest possible payment date</td>
      <td class="govuk-table__cell">21 January 2027</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">qWeek</th>
      <td class="govuk-table__cell">Start date of qualifying week</td>
      <td class="govuk-table__cell">{qualifying week date}</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">optOutStart</th>
      <td class="govuk-table__cell">Date opt out reopens</td>
      <td class="govuk-table__cell">{date opt out reopens}</td>
    </tr>
  </tbody>
</table>
<br><br>
</div>

            <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">
  Other customer details
</caption>              
<thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Age at qualifying week</th>
                  <td class="govuk-table__cell">82</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date of birth</th>
                  <td class="govuk-table__cell">12/06/1944</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell">72 Guild Street<br>
                    London<br>
                    SE23 6FH</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date they moved in</th>
                  <td class="govuk-table__cell">01/02/2025</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Home phone</th>
                  <td class="govuk-table__cell">00000 000000</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Mobile phone</th>
                  <td class="govuk-table__cell">07000000000</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Occupancy</th>
                  <td class="govuk-table__cell">0</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Benefit type</th>
                  <td class="govuk-table__cell">None</td>
                </tr>
              </thead>
            </table>

<br><br>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Alternative format details</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Format requested</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">Paper</td>
                </tr>
              </thead>
              </table>
              <br><br>

    <form class="form" action="/alternative-format-outcome" method="post">

{% set completedHtml %}
  {{ govukInput({
    id: "order-number",
    name: "order-number",
    classes: "govuk-input--width-10",
    label: {
      text: "Order number"
    }
  }) }}
{% endset %}

{{ govukRadios({
  name: "outcome",
  value: data['outcome'],
  fieldset: {
    legend: {
      text: "What is the outcome of this task?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Completed",
      text: "Order complete",
      conditional: {
        html: completedHtml
      }
    },
    {
      value: "NoContact",
      text: "Unable to speak to citizen"
    },
    {
      value: "NoDetails",
      text: "No valid contact details for the citizen"
    },
        {
      value: "NotNeeded",
      text: "Alternative format no longer needed"
    }
  ]
}) }}

{{ govukButton({
  text: "Confirm"
}) }}

</form>


<br>
<a href="/current/tasks/tasks-returned-to-queue" class="govuk-link">Return this case to the queue</a>
   
 

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
