{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}



{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

<form class="form" action="/current/tasks/send-alternative-format/alternative-format-confirm" method="post"> 
       
          

         <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Task complete
          </h1>
        </div>
        <p class="govuk-body">Text?</p>
      </div>
    </div>
  </main>
</div>
            

<button
  type="submit"
  class="govuk-button"
  name="nextaction"
  value="continue">
  View next request
</button>

<button
  type="submit"
  class="govuk-button govuk-button--secondary"
  name="nextaction"
  value="return">
  Return to task list
</button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
