{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}



{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


       

          {% include 'current/includes/_bar_2.html' %}
         

            <h1 class="govuk-heading-l">Alternative format task</h1>
            <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Citizen details</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Age</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">82</td>
                </tr>
              </thead>
                            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Date of birth</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">12/06/1944</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell"> 72 Guild Street
                    <br>London
                    <br>SE23 6FH</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Correspondence address</th>
                  <td class="govuk-table__cell">72 Guild Street
                    <br>London
                    <br>SE23 6FH</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date they moved in</th>
                  <td class="govuk-table__cell">01/02/2026</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Home phone number</th>
                  <td class="govuk-table__cell">01000 000000</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Mobile phone number</th>
                  <td class="govuk-table__cell">07000000000</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Amount paid</th>
                  <td class="govuk-table__cell">£200</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Occupancy</th>
                  <td class="govuk-table__cell">0</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Benefit type</th>
                  <td class="govuk-table__cell">None</td>
                </tr>
              </thead>
                            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Last four digitals of account paid</th>
                  <td class="govuk-table__cell">5678</td>
                </tr>
              </thead>
                            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Letter type</th>
                  <td class="govuk-table__cell">Annual Payment Letter</td>
                </tr>
              </thead>
                            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Qualifying year</th>
                  <td class="govuk-table__cell">2026</td>
                </tr>
              </thead>
                            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Qualifying week</th>
                  <td class="govuk-table__cell">21/09/2026</td>
                </tr>
              </thead>
                            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Payment deadline</th>
                  <td class="govuk-table__cell">15/01/2026</td>
                </tr>
              </thead>
                            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Alternative format</th>
                  <td class="govuk-table__cell">Paper</td>
                </tr>
              </thead>
               <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Preferred language</th>
                  <td class="govuk-table__cell">English</td>
                    </fieldset>
                  </div></td>
                </tr>
              </thead>
              
            </table>

<br>

    <form class="form" action="/format-answer" method="post">

{% set completedHtml %}
  {{ govukInput({
    id: "completedReason",
    name: "completedReason",
    classes: "govuk-input--width-10",
    label: {
      text: "Order reference number"
    },
    attributes: {
      required: "required"
    }
  }) }}
{% endset %}

{{ govukRadios({
  name: "format",
  value: data['format'],
  fieldset: {
    legend: {
      text: "What is the outcome of this task?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Completed",
      text: "Completed order",
      conditional: {
        html: completedHtml
      }
    },
    {
      value: "NoContact",
      text: "Could not contact citizen"
    },
    {
      value: "NoDetails",
      text: "No valid contact details for the citizen"
    },
        {
      value: "NotNeeded",
      text: "Citizen no longer wants an alternative format"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>


<br><a href="/current/tasks/tasks-returned-to-queue" class="govuk-link">Return this case to the queue</a>
   
          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
