{% include "current/includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
    dwpHeader({
        serviceName: "Winter Fuel Service",
        serviceHref: '/index.html',
        container: true,
        navigation: {
          selectedItem: "/current/tasks/tasks",
          items: [
              {
                  href: "/current/record-view/find-someone/find",
                  text: "Find someone"
              },
              {
                  href: "/current/new-claims/international/find",
                  text: "International new claim"
              },
              {
                  href: "/current/tasks/tasks",
                  text: "Tasks"
              },
              {
                  href: "/current/eligibility-checker/dob",
                  text: "Check eligibility"
              }
          ]
      }  
    })
}}
