{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-MI.html' %}
<div class="govuk-width-container">
  <nav class="moj-sub-navigation" aria-label="Sub navigation">
  
    <ul class="moj-sub-navigation__list">
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page" href="daily">Daily</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="search-data">Search all data</a>
      </li>
  
    </ul>
  
  </nav>
  </div>
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Summary of weekly counts</h1>

        <h2 class="govuk-heading-l">Data for week commencing 8 April 2024
          <span class="govuk-caption-l">Updated 4:34am Sunday 16 April 2024</span>
        </h2>
      
        <!-- Table for new claims totatl-->

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Claims</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Type of claim</th>
              <th scope="col" class="govuk-table__header">UK new claims</th>
              <th scope="col" class="govuk-table__header">International new claims</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Phone</th>
              <td class="govuk-table__cell">104</td>
              <td class="govuk-table__cell">104</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Post</th>
              <td class="govuk-table__cell">59</td>
              <td class="govuk-table__cell">59</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total</th>
              <td class="govuk-table__cell">163</td>
              <td class="govuk-table__cell">44</td>
            </tr>
          </tbody>
        </table></div>
       
<!-- Table for tasks figures-->
<div class="govuk-grid-column-full">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Tasks</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type of task</th>
      <th scope="col" class="govuk-table__header">Intake</th>
      <th scope="col" class="govuk-table__header">System clearance</th>
      <th scope="col" class="govuk-table__header">Agent clearance</th>
      <th scope="col" class="govuk-table__header">Outstanding</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Approve commercial addresses</th>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Check submitted addresses</th>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Contact citizens</th>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Fix account details</th>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Pay death arrears</th>
      <td class="govuk-table__cell">104</td>
      <td class="govuk-table__cell">104</td>
      <td class="govuk-table__cell">104</td>
      <td class="govuk-table__cell">104</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Review 13 week carehome cases</th>
      <td class="govuk-table__cell">59</td>
      <td class="govuk-table__cell">59</td>
      <td class="govuk-table__cell">59</td>
      <td class="govuk-table__cell">59</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Review GSL/WA</th>
      <td class="govuk-table__cell">59</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">59</td>
      <td class="govuk-table__cell">-</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Review manual payment requests</th>
      <td class="govuk-table__cell">104</td>
      <td class="govuk-table__cell">104</td>
      <td class="govuk-table__cell">104</td>
      <td class="govuk-table__cell">104</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Review overpayments</th>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Verify addresses</th>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
      <td class="govuk-table__cell">163</td>
      <td class="govuk-table__cell">44</td>
    </tr>
   
   
   
  </tbody>
</table>
</div>

      </div>

    </div>
    </main>
    </div>

    {% endblock %}
